body {
    font-family: Arial;
    text-align: center;
    background: #f0f5ff;
}

#timer {
    font-size: 40px;
    margin: 20px;
    font-weight: bold;
}

#angka h1 {
    font-size: 60px;
    margin: 10px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin: 5px;
    border-radius: 10px;
}
#angka h1 {
    font-size: 10vw; /* ukuran fleksibel sesuai lebar layar */
    margin: 0;
}

#tombol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-width: 250px; /* batasi lebar grid */
    margin: 0 auto 20px;
}

#tombol button {
    width: 100%;
    aspect-ratio: 1/1; /* tombol selalu kotak */
    font-size: 6vw; /* ukuran fleksibel */
    border-radius: 10px;
}
